@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

.App {
  text-align: center;
}

#iddiv {
  width: 50px; 
  height: 50px; 
  text-align: center; 
  border-radius: 50%; 
  background-color: #2ECC71; 
  font-size: 28px; 
  color: white; 
  padding: 2;
}


